 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
} 

.container{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  max-width: 320px; 
  border-radius: 10px;
  padding: 16px;
  gap: 1rem;
  box-shadow: 10px 10px 0px black; 
}

img{
  border-radius: 10px;
  display: block;
  width: 100%;
}

.btn{
  border: none;
  padding: 9px 20px;
  width: 100px;
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
}

small{
  color: hsl(0, 0%, 7%);
}

.second{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hs{
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 7%);
}

#lo{
  color: hsl(0, 0%, 42%);
}

.third{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.one{
  border-radius: 80%;
  width: 30px;
  height: 30px;
}

span{
  color: hsl(0, 0%, 7%);
  font-weight: bold;
  font-size: 15px;
}
